@import "color";
* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blur {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    background-color: $white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    display: none;
    .pop-f {
        padding-inline: 20px;
        padding-block: 50px;
        border-inline: $pink 1px solid;
        display: flex;
        flex-direction: column;
        div {
            font-size: 30px;
            font-weight: bold;
            color: $green;
            margin-bottom: 50px;
        }
        p {
            margin-bottom: 25px;
        }
        input,
        select {
            padding-inline: 20px;
            padding-block: 20px;
            margin-bottom: 25px;
            outline: $green 1px solid;
            border: none;
        }
    }
    input[type="submit"] {
        outline: none;
        color: $white;
        background-color: $green;
        &:hover {
            color: $white;
            background-color: $black;
        }
    }
    button {
        padding-inline: 20px;
        padding-block: 20px;
        outline: none;
        color: $black;
        background-color: $red;
        border: none;
        &:hover {
            color: $white;
            background-color: $black;
        }
    }
}

.enable {
    display: flex;
    opacity: 1;
    z-index: 3;
}

.enablePop {
    display: flex;
    opacity: 1;
    z-index: 20;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.sliderShow {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: auto;
    img {
        position: absolute;
        transition: opacity 1s;
        opacity: 0;
        top: 0;
        left: 0;
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ms-transition: opacity 1s;
        -o-transition: opacity 1s;
        width: -webkit-fill-available;
        z-index: 1;
        &.active {
            opacity: 1;
        }
        &:first-child {
            position: relative;
        }
    }
}

.heading {
    padding-block: 50px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    h1 {
        font-size: 40px;
    }
    p {
        max-width: 940px;
        margin: auto;
        padding-inline: 20px;
    }
    b {
        color: $green;
    }
    button {
        margin-top: 50px;
        width: 200px;
        font-size: 20px;
        padding-block: 20px;
        color: $white;
        background-color: $green;
        border: none;
        &:hover {
            background-color: $black;
        }
    }
}

// Start nav
nav {
    //toggel Display
    .navToggle {
        display: block;
    }
    .mobControl {
        display: none;
    }
    .navControl {
        .navMob {
            display: flex;
            justify-content: space-between;
            padding-inline: 50px;
            align-items: center;
            height: 100%;
        }
        .control {
            display: flex;
            height: 60px;
            div {
                display: flex;
                align-items: center;
                padding-inline: 20px;
                cursor: pointer;
                height: 100%;
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
            button {
                padding-inline: 20px;
                border: none;
                background-color: $white;
                color: $black;
                cursor: pointer;
                &:hover {
                    background-color: $darkGreen;
                    color: $white;
                }
            }
        }
    }
    box-shadow: 1px 20px 20px 0px #0000003b;
    width: 100%;
    height: 60px;
    background-color: $green;
    font-size: 20px;
    color: $white;
    ul {
        list-style: none;
        display: flex;
        height: 60px;
        li {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-inline: 20px;
            height: 100%;
            &:hover {
                background-color: $white;
                color: $black;
            }
        }
    }
}

//End nav
// Start main Content
.content-Container {
    padding-inline: 70px;
    .header-content {
        font-size: 50px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .Topic {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
        row-gap: 50px;
        .img {
            overflow: hidden;
            &:hover img {
                transform: scale(1.2) rotate(5deg);
                -webkit-transform: scale(1.2) rotate(5deg);
                -moz-transform: scale(1.2) rotate(5deg);
                -ms-transform: scale(1.2) rotate(5deg);
                -o-transform: scale(1.2) rotate(5deg);
            }
            img {
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
            }
        }
        .box {
            flex-basis: 24%;
            div {
                img {
                    max-width: 100%;
                }
            }
            .boxContent {
                margin-top: 10px;
                h2 {
                    color: $black;
                    cursor: pointer;
                    &:hover {
                        color: $lightGray;
                    }
                }
                p {
                    color: $darkGray;
                    font-size: 16px;
                }
                .veiws {
                    text-align: right;
                    margin-top: 10px;
                    color: $green;
                }
            }
        }
    }
}

// End main content
//start Footer 
footer {
    text-align: center;
    background-color: $green;
    padding-block: 10px;
    color: $white;
}

// End Footer