* {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blur {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.781);
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.pop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  background-color: white;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  display: none;
}

.pop .pop-f {
  padding-inline: 20px;
  padding-block: 50px;
  border-inline: #fff2f2 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pop .pop-f div {
  font-size: 30px;
  font-weight: bold;
  color: #2ad4bc;
  margin-bottom: 50px;
}

.pop .pop-f p {
  margin-bottom: 25px;
}

.pop .pop-f input,
.pop .pop-f select {
  padding-inline: 20px;
  padding-block: 20px;
  margin-bottom: 25px;
  outline: #2ad4bc 1px solid;
  border: none;
}

.pop input[type="submit"] {
  outline: none;
  color: white;
  background-color: #2ad4bc;
}

.pop input[type="submit"]:hover {
  color: white;
  background-color: #0e0d0d;
}

.pop button {
  padding-inline: 20px;
  padding-block: 20px;
  outline: none;
  color: #0e0d0d;
  background-color: #f8d7da;
  border: none;
}

.pop button:hover {
  color: white;
  background-color: #0e0d0d;
}

.enable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 3;
}

.enablePop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 20;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.sliderShow {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: auto;
}

.sliderShow img {
  position: absolute;
  transition: opacity 1s;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  width: -webkit-fill-available;
  z-index: 1;
}

.sliderShow img.active {
  opacity: 1;
}

.sliderShow img:first-child {
  position: relative;
}

.heading {
  padding-block: 50px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 40px;
}

.heading p {
  max-width: 940px;
  margin: auto;
  padding-inline: 20px;
}

.heading b {
  color: #2ad4bc;
}

.heading button {
  margin-top: 50px;
  width: 200px;
  font-size: 20px;
  padding-block: 20px;
  color: white;
  background-color: #2ad4bc;
  border: none;
}

.heading button:hover {
  background-color: #0e0d0d;
}

nav {
  -webkit-box-shadow: 1px 20px 20px 0px #0000003b;
          box-shadow: 1px 20px 20px 0px #0000003b;
  width: 100%;
  height: 60px;
  background-color: #2ad4bc;
  font-size: 20px;
  color: white;
}

nav .navToggle {
  display: block;
}

nav .mobControl {
  display: none;
}

nav .navControl .navMob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav .navControl .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

nav .navControl .control div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 20px;
  cursor: pointer;
  height: 100%;
}

nav .navControl .control div:hover {
  background-color: white;
  color: #0e0d0d;
}

nav .navControl .control button {
  padding-inline: 20px;
  border: none;
  background-color: white;
  color: #0e0d0d;
  cursor: pointer;
}

nav .navControl .control button:hover {
  background-color: #269c8c;
  color: white;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-inline: 20px;
  height: 100%;
}

nav ul li:hover {
  background-color: white;
  color: #0e0d0d;
}

.content-Container {
  padding-inline: 70px;
}

.content-Container .header-content {
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
}

.content-Container .Topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  row-gap: 50px;
}

.content-Container .Topic .img {
  overflow: hidden;
}

.content-Container .Topic .img:hover img {
  transform: scale(1.2) rotate(5deg);
  -webkit-transform: scale(1.2) rotate(5deg);
  -moz-transform: scale(1.2) rotate(5deg);
  -ms-transform: scale(1.2) rotate(5deg);
  -o-transform: scale(1.2) rotate(5deg);
}

.content-Container .Topic .img img {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.content-Container .Topic .box {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
}

.content-Container .Topic .box div img {
  max-width: 100%;
}

.content-Container .Topic .box .boxContent {
  margin-top: 10px;
}

.content-Container .Topic .box .boxContent h2 {
  color: #0e0d0d;
  cursor: pointer;
}

.content-Container .Topic .box .boxContent h2:hover {
  color: #555555;
}

.content-Container .Topic .box .boxContent p {
  color: #313131;
  font-size: 16px;
}

.content-Container .Topic .box .boxContent .veiws {
  text-align: right;
  margin-top: 10px;
  color: #2ad4bc;
}

footer {
  text-align: center;
  background-color: #2ad4bc;
  padding-block: 10px;
  color: white;
}
/*# sourceMappingURL=home-main.css.map */