@media (max-width:1220px) {
    .container .imgControl img {
        max-width: 90%;
    }
    .container .center {
        width: 170%;
    }
    .container .center .form-inner {
        margin-inline: 20px;
    }
}

@media (max-width:960px) {
    .container .imgControl img {
        display: none;
    }
    .container .center {
        justify-content: center;
    }
    .container .center .form-inner {
        width: 70%;
    }
}

@media (max-width:700px) {
    .container .center .form-inner .clearfix::before {
        width: 30%;
    }
    .container .center .form-inner .clearfix::after {
        width: 30%;
    }
}

@media (max-width:450px) {
    .container .center .form-inner .clearfix::before {
        width: 20%;
    }
    .container .center .form-inner .clearfix::after {
        width: 20%;
    }
    .con-for {
        flex-direction: column;
        gap: 20px;
    }
    .container .center .form-inner .socialBox {
        flex-direction: column;
    }
    .container .center .form-inner .socialBox .box {
        background-color: transparent;
    }
    .container .center .form-inner .member {
        margin-bottom: 20px;
    }
}