// doctype for HTML5 
|
|
doctype 
// Start HTML 
html(lang="en")
    // Start head 
    head
        // Add appropriate markup for users 
        meta(charset="UTF-8")/
        // displays site properly based on user's device
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        // add description to SEO 
        meta(name="description" content="You can enjoy the videos and music you love, upload original content, and share it all with your friends, family and the world on YouTube Killer.")/
        // This is Website Icon
        link(rel="icon" href="images/icons8-k-96.png" type="image/png" sizes="96x96")
        title Youtube Killer
        // Normalize library 
        link(rel="stylesheet", href="css/normalize.css")
        // font awesome for icon
        link(rel="stylesheet", href="css/all.min.css")
        //- Add block to modify page Stylesheet
        link(rel="stylesheet", href="css/home-main.css")
        link(rel="stylesheet", href="css/home-media.css")

    // End Head 
    // Start Body 
    body 
        .container
            // Start Slide Show
            .ti-sl
                .sliderShow
                    img(src="images/2.jpg", alt="Back ground img")
                    img(src="images/1.jpg", alt="Back ground img" class="active")
                    img(src="images/2.jpg", alt="Back ground img")
                    img(src="images/3.jpg", alt="Back ground img")
                    img(src="images/4.jpg", alt="Back ground img")
                    img(src="images/5.jpg", alt="Back ground img")
                    img(src="images/6.jpg", alt="Back ground img")
                    img(src="images/7.jpg", alt="Back ground img")
                    .heading 
                        h1 
                            b Youtube 
                            | Killer
                        p You can enjoy the videos and music you love, upload original content, and share it all with your friends, family and the world on YouTube Killer.
                        button.start Let's start
            nav
                .mobControl 
                    .navTitle 
                        b Youtube 
                        | Killer
                    .Icon 
                        <i class="fas fa-bars"></i>
                .navControl
                    .navMob
                        ul 
                            li Entertainment 
                            li Horror
                            li Action 
                        .control
                            .UserName User Name
                            .Setting Settings
                            button Sign out
            block Content
        block script 