extends basic-main-page

//- to push stylesheet 
block Main-Stylesheet
    link(rel="stylesheet", href="css/home-main.css")
    link(rel="stylesheet", href="css/home-media.css")

//- to make slidshow  
block slideShow
    // Start Slide Show
    .ti-sl
        .sliderShow
            img(src="images/2.jpg", alt="Back ground img")
            img(src="images/1.jpg", alt="Back ground img" class="active")
            img(src="images/2.jpg", alt="Back ground img")
            img(src="images/3.jpg", alt="Back ground img")
            img(src="images/4.jpg", alt="Back ground img")
            img(src="images/5.jpg", alt="Back ground img")
            img(src="images/6.jpg", alt="Back ground img")
            img(src="images/7.jpg", alt="Back ground img")
            .heading 
                h1 
                    b Youtube 
                    | Killer
                p You can enjoy the videos and music you love, upload original content, and share it all with your friends, family and the world on YouTube Killer.
                button.start Let's start
    nav
        .mobControl 
            .navTitle 
                b Youtube 
                | Killer
            .Icon 
                <i class="fas fa-bars"></i>
        .navControl
            .navMob
                ul 
                    li Entertainment 
                    li Horror
                    li Action 
                .control
                    .UserName User Name
                    .Setting Settings
                    button Sign out
    .content-Container 
        .header-content Entertainment Topic
        div(class="First-Tobic Topic") 
            
            .box 
                .img    
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
        .header-content Horror Topic
        div(class="Second-Tobic Topic") 
            
            .box 
                .img    
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
        .header-content Action Topic
        div(class="Action-Tobic Topic") 
            
            .box 
                .img
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
    footer Developed by Mohammed Salah &copy;
    .blur 
    .pop
        form(action="#" class="passwordChange pop-f") 
            .passHead Change Password
            p You should be aware that by clicking on the button below, you agree to the change of password and you will not be able to access the account with the old password again.
            input(type="password" name="new password" placeholder="Enter New Passowrd")
            input(type="submit" value="SUBMIT") 
            button Cancel
        form(action="#" class="frezee pop-f")
            .freezeHead Freeze account
            p You should be aware that when you press the button below, you acknowledge that you agree to freeze newsletter activity on the account during the period that you specify.
            select 
                option 24 Hour
                option 1 Week
                option 1 Month
                option 3 Month
                option 6 Month
                option 1 Year
            input(type="submit" value="SUBMIT") 
            button Cancel
        form(action="#" class="remove pop-f")
            .removeHead Remove account
            p You should be aware that by clicking on the button below, you agree to delete the account and you will not be able to log in again with your email and password.
            input(type="text" placeholder="Please type the word \"Delete\" in this field.")
            input(type="submit" value="SUBMIT") 
            button Cancel

//- Home Script
block script
    // Home Script
    script(src="js/home.js")
