extends basic-main-page

//- to push stylesheet 



//- to make slidshow  
block Content
    // Start Content
    .content-Container 
        .header-content Entertainment Topic
        div(class="First-Tobic Topic") 
            
            .box 
                .img    
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
        .header-content Horror Topic
        div(class="Second-Tobic Topic") 
            
            .box 
                .img    
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
        .header-content Action Topic
        div(class="Action-Tobic Topic") 
            
            .box 
                .img
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
    // End Content
    
    include footer&setting.pug

//- Home Script
block script
    // Home Script
    script(src="js/global-main-page.js")
