extends basic-main-page

//- to push stylesheet 
block Main-Stylesheet
    link(rel="stylesheet", href="css/home-main.css")

//- to make slidshow  
block slideShow
    // Start Slide Show
    .ti-sl
        .sliderShow
            
            img(src="images/1.jpg", alt="Back ground img" class="active")
            img(src="images/2.jpg", alt="Back ground img")
            img(src="images/3.jpg", alt="Back ground img")
            img(src="images/4.jpg", alt="Back ground img")
            img(src="images/5.jpg", alt="Back ground img")
            img(src="images/6.jpg", alt="Back ground img")
            img(src="images/7.jpg", alt="Back ground img")
        .heading 
            h1 
                b Youtube 
                | Killer
            p You can enjoy the videos and music you love, upload original content, and share it all with your friends, family and the world on YouTube Killer.
            button Let's start
    nav
        ul 
            li Entertainment 
            li Horror
            li Action 
        .control
            .UserName User Name
            .Setting Settings
            button Sign out
    .content-Container 
        .header-content Entertainment Topic
        div(class="First-Tobic Topic") 
            
            .box 
                .img    
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
        .header-content Horror Topic
        div(class="Second-Tobic Topic") 
            
            .box 
                .img    
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
        .header-content Action Topic
        div(class="Action-Tobic Topic") 
            
            .box 
                .img
                    img(src="images/shuffle-01.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-02.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-03.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-04.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-05.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-06.jpg", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-07.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
            .box 
                .img    
                    img(src="images/shuffle-08.webp", alt="Test")
                .boxContent 
                    h2 This is content For Test 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    .veiws Views: 5451
    footer Developed by Mohammed Salah &copy;

//- Home Script
block script
    // Home Script
    script(src="js/home.js")
