extends basic-main-page

//- to push stylesheet 



//- to make slidshow  
block Content
    // Start Content
    .content-Container 
        .header-content Recent
        div(class="Recent Topic") 
            
            
        .header-content Recommended
        div(class="Recommended Topic") 
            
            
        .header-content Cartoons
        div(class="Cartoons Topic") 
            
        .header-content Sports
        div(class="Sports Topic") 
            
            
    // End Content
    
    include footer&setting.pug

//- Home Script
block script
    // Home Script
    script(src="js/home.js")
    script(src="js/global-main-page.js")
