//- Extends to take the basic HTML for This page
extends basic-log-page.pug
//- Main Log to Add Main Content
block mainLog
    h2 Sign Into Your Account
    .allert(style="background-color:#f8d7da")
        b Sorry
        |, Something went wrong!
    form(action="#") 
        input(type="email" placeholder="Email Address" name="EmailAdress" required)
        div(class="alert-Box email") Please enter your email address
        input(type="password" placeholder="Password" Name="Password" required)
        div(class="alert-Box password") Please enter your Password
        .con-for
            .confirm
                input(type="checkbox" required)
                span.agree Remember me
            .for
                a(class="forget" href="./forget.html") Forgot your password?
        input(type="submit" value="Login" id="submit") 

block member 
    

//- to modifiy script
block script    
    script(src="js/login.js")