//- Extends to take the basic HTML for This page
extends basic-log-page.pug
//- to modifiy script
block script    
    script(src="js/register.js")
//- Main Log to Add Main Content
block mainLog
    h2 Create an account
    .allert 
    

    form(action="#" id="R") 
    
        input(type="text" placeholder="Full Name" name="FullName" )
        div(class="alert-Box name")  
        input(type="email" placeholder="Email Address" name="EmailAdress" )
        div(class="alert-Box email") 
        input(type="password" placeholder="Password" Name="Password" )
        div(class="alert-Box password") 
        input(type="checkbox" )
        span.agree I agree to the terms of service 
        input(type="submit" value="Register" id="submit") 
        

